
:css
  .completed {
    text-decoration: line-through;
  }
  .concluido-checkbox {
    width: 20px;
    height: 20px;
  }
  
.card
  .card-body.card.text-light.bg-primary.mb-3
    %h1.mb-6 Revisões
    .card.text-dark.bg-light.justify-content-center{ style: "max-width: 1650px;" }
      .col-md-12.p-4.mb-6
        %h4 Revisões para Hoje
        %table.table.table-striped
          %thead 
            %tr
              %th Titulo 
              %th Descrição 
              %th Link 
              %th Palavras Chave 
              %th Estudo Inicial
              %th Ação
              %th Concluído
          %tbody
            -  @revisoes_hoje.each do |conteudo, datas|
              - unique_id = "revision_#{conteudo.id}" # Supondo que conteudo tem um ID único
              %tr{ id: unique_id, class: "revision-row" }
                %td= conteudo.titulo 
                %td= simple_format(conteudo.descricao)
                %td= link_to conteudo.link, conteudo.link, target: "_blank" 
                %td= conteudo.palavra_chave 
                %td= conteudo.primeiro_estudo
                %td
                  %button.btn.btn-info{"data-bs-toggle" => "modal", "data-bs-target" => "#codeModal", "data-resposta" => conteudo.resposta}
                    Resposta
                %td
                  %input{ type: "checkbox", class: "concluido-checkbox", "data-id" => unique_id }          
      .col-md-12.p-4
        %h4 Revisões para Amanhã
        %table.table.table-striped
          %thead 
            %tr
              %th Titulo 
              %th Descrição 
              %th Link 
              %th Palavras Chave 
              %th Estudo Inicial
          %tbody
            -  @revisoes_amanha.each do |conteudo, datas|
              %tr 
                %td= conteudo.titulo 
                %td= simple_format(conteudo.descricao)
                %td= link_to conteudo.link, conteudo.link, target: "_blank" 
                %td= conteudo.palavra_chave 
                %td= conteudo.primeiro_estudo
                %td
                  %button.btn.btn-info{"data-bs-toggle" => "modal", "data-bs-target" => "#codeModal", "data-resposta" => conteudo.resposta}
                    Resposta
      .col-md-12.p-4
        %h4 Revisões para Depois de Amanhã
        %table.table.table-striped
          %thead 
            %tr
              %th Titulo 
              %th Descrição 
              %th Link 
              %th Palavras Chave 
              %th Estudo Inicial
              %th Ação
          %tbody
            -  @revisoes_depois_amanha.each do |conteudo, datas|
              %tr 
                %td= conteudo.titulo 
                %td= conteudo.descricao 
                %td= link_to conteudo.link, conteudo.link, target: "_blank" 
                %td= conteudo.palavra_chave 
                %td= conteudo.primeiro_estudo
                %td
                  %button.btn.btn-info{"data-bs-toggle" => "modal", "data-bs-target" => "#codeModal", "data-resposta" => conteudo.resposta}
                    Resposta


  .modal.fade#codeModal{"tabindex" => "-1", "aria-labelledby" => "codeModalLabel", "aria-hidden" => "true"}
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %h5#codeModalLabel.modal-title Resposta do Conteúdo
          %button.close{"data-bs-dismiss" => "modal", "aria-label" => "Close"}
            %span{"aria-hidden" => "true"} ×
        .modal-body
          %pre
            %code.language-ruby#respostaConteudo
        .modal-footer
          %button.btn.btn-secondary{"data-bs-dismiss" => "modal"} Fechar

  %script{src: "https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"}
  %link{rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css"}
  %script{src: "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"}
  %script{src: "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"}
  %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"}


:javascript
  document.addEventListener('DOMContentLoaded', (event) => {
    $('#codeModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); 
      var resposta = button.data('resposta'); 
      var modal = $(this);
      modal.find('#respostaConteudo').html(resposta); 
      hljs.highlightElement(document.getElementById('respostaConteudo')); 
    });

    // Carregar o estado dos checkboxes do local storage
    $('.concluido-checkbox').each(function() {
      var id = $(this).data('id');
      if (localStorage.getItem(id) === 'true') {
        $(this).prop('checked', true);
        $(this).closest('tr').addClass('completed');
      }
    });

    // Salvar o estado dos checkboxes no local storage
    $('.concluido-checkbox').change(function() {
      var id = $(this).data('id');
      var isChecked = $(this).is(':checked');
      localStorage.setItem(id, isChecked);
      if (isChecked) {
        $(this).closest('tr').addClass('completed');
      } else {
        $(this).closest('tr').removeClass('completed');
      }
    });
  });

